h1 {
   color: palevioletred; 
   background: #000000;
} 
p {
    color: coral;

}
div {
    background: rgb(138, 9, 9)a1a;
}
span {
    background: #3e03f1;
}
.first_div {
    background: #000;
}
.merhab {
    background: #000;

}
#id_ex {
    background: #000;
    color: blue;
}